#noticias{
	width: 1000px;
	height: 550px;
	margin: 50px auto;
	border: 1px solid white;
}

.noticia{
	border: 1px solid white;
}
#camisas{
	width: 650px;
	height: 350px;
	background-image: url("../imgs/camisas_fundo.png");
	position: relative;
}

#camisas:hover{
	background-image: url("../imgs/camisas_fundo_hover.png");
	
}
.lide{
	opacity: 1;
	position: absolute;
	bottom: 0px;
	width: 650px;
	background-color: rgba(255,255,255,0.4);
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	color: #fff;
}

#camisas:hover>.lide{
	opacity: 1;
	position: absolute;
	bottom: 0px;
	width: 650px;
	background-color: rgba(255,255,255,0.4);
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 45px;
	color: white;
}