#noticias{
	width: 700px;
	height: 400px;
	margin: 30px auto;
	border: 1px solid white;
	background-image: url("../imgs/camisas_fundo.png");
	background-size: cover;
	transition: all 1s ease;
	position: relative;
}
section>h2{
	position: absolute;
	bottom: 15%;
	margin-left: 350px;/*alterar em js*/
	font-size: 60px;
}
.conteudo{
	position: absolute;
	bottom: 0px;
	background-color: rgba(35,118,252,0.7);
	padding: 10px 0px;
	font-size: 60px;
	text-align: center;
	font-family: 'Aldrich', sans-serif;
}
.conteudoDetalhe{
	display:none;
	position: absolute;
	bottom: 0px;
	background-color: rgba(255,255,255,0.7);
	font-family: 'Aldrich', sans-serif;
}
.setas{
	display: none;
}
#noticias:hover>.setas{
	display: inline-block;
	background-color: rgb(180,180,180,.6);
	height: 100px;
	width: 100px;
}