table {
	border-collapse: collapse;
	float: left;
}

th {
	color: #0073cc;
}

tbody > tr {
	background-color: #0073cc;
	color: white;
}

tr:hover {
	color: #ff9000;
}

td {
	padding: 10px;
	border: 1px solid white;
}

section {
	float: right;
	display: block;
}
