.partidas {
	color: white;
	text-align: center;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: black;
	margin: 0;
}

#ultima {
	border-top-width: 1px;
}

