.partidas {
	color: white;
	text-align: center;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: black;
	margin: 0;
}

#ultima {
	border-top-width: 1px;
}

.vitoria {
	background-color: rgb(25, 193, 0);
}

.derrota {
	background-color: rgb(255, 48, 48);
}

.empate {
	background-color: rgb(147, 147, 147);
}

