html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

body {
	background-color: #ff9000;
}

header {
	/*! text-align: center; */
	background-color: #0073cc;
	margin: 0;
	padding: 20px;
}

h1 {
	color: white;
	margin: 0;
}

header > p {
	color: #ff9000;
	margin-bottom: 0;
	font-style: italic;
}

nav {
	padding: 10px;
	background-color: #0073cc;
	text-align: center;
}

nav > a {
	text-decoration: none;
	color: white;
	margin: 0 10px;
	padding: 10px;
}

nav > a:hover {
	background-color: #ff9000;
	color: #0073cc;
	font-size: 17px;
	transition: color 500ms ease;
	transition: font-size 500ms ease;
}

.navselect {
	background-color: #ff9000;
	border: 1px solid #ff9000;
}

main {
	margin: 0;
	padding: 20px;
}

h2 {
	margin: 0 0 20px 0;
	color: white;
	text-align: center;
}

header img{
	opacity: 0.9;
	height: 70px;
	position: relative;
	top: 20px;
}