.jogadores {
	border: 2px solid #0073cc;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	background-color: #0073cc;
}

.jogadores > img {
	height: 128px;
	display: block;
}

.jogadores > p {
	color: white;
	margin: 0;
	border-top: 2px solid #0073cc;
	padding: 5px;
}

.nome {
	float: left;
}

.num {
	float: right;
}

.num > img {
	height: 24px;
}
